mixin lessons(data)
    - data = data || {};
    section.block-lessons(class = data.class role = data.role)
        .container.block-lessons__container
            .row
                .col-lg-12
                    h3.block-worth__title <strong>КОНСПЕКТЫ УРОКОВ,</strong> КОТОРЫЕ ВЫ ПОЛУЧИТЕ
                .col-lg-4.block-lessons__margin.wow.fadeIn
                    .col-md-12.block-lessons__column
                        p.block-lessons__column-title ПРОГНОЗИРОВАНИЕ БУДУЩЕГО ПО ГОДУ РОЖДЕНИЯ
                        img.mx-auto.d-block.block-lessons__column-preview(src="../img/product.png" alt="@@")
                        p.block-lessons__column-desc Вы овладели навыками прогнозирования будущего человека. По году его рождения можете определять сферы деятельности, которые дают человеку максимальную финансовую выгоду. 
                .col-lg-4.block-lessons__margin.wow.fadeIn
                    .col-md-12.block-lessons__column
                        p.block-lessons__column-title ПРОГНОЗИРОВАНИЕ БУДУЩЕГО ПО ПОЛНОЙ ДАТЕ РОЖДЕНИЯ
                        img.mx-auto.d-block.block-lessons__column-preview(src="../img/product.png" alt="@@")
                        p.block-lessons__column-desc Вы прогнозируете будущее в конкретном помещении с учетом энергетики пространства. Также расшифровываете характер людей по годам рождения.
                .col-lg-4.block-lessons__margin.wow.fadeIn
                    .col-md-12.block-lessons__column
                        p.block-lessons__column-title КОНСУЛЬТАНТ С НЕБОЛЬШИМ ОПЫТОМ
                        img.mx-auto.d-block.block-lessons__column-preview(src="../img/product.png" alt="@@")
                        p.block-lessons__column-desc Вы делаете активации для корректировки и уничтожения негативных энергий,  для привлечения удачи, денег, здоровья, счастья, хороших отношений и т. д.